{
  "parser": "babel-eslint",
  "globals": {
    "window": false,
    "match": false,
    "fetch": false,
    "document": false,
    "$": false,
    "http": false,
    "expect": false
  },
  "rules": {
    "no-console": "off",
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "generator-star-spacing": 0,
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "comma-dangle": [
      0
    ],

    "no-underscore-dangle": [
      0
    ],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "no-restricted-syntax": 0,
    "class-methods-use-this": ["error", {
      "exceptMethods": [
        "render"
      ]
    }]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "plugins": [
    "react"
  ]
}
